# mod_rewrite starts here

RewriteEngine on

# does not apply to existing directories, meaning if a folder exists on the server then we don't change anything and don't run the Rule!
RewriteCond %{REQUEST_FILENAME} !-d

# check for file in directory with .html extension
RewriteCond %{REQUEST_FILENAME}\.html -f

# Here we actually show the page that has the .html extension NC - no case, L - next rule has different conditions
RewriteRule ^(.*)$ $1.html [NC,L]